.gradient-text {
  background: linear-gradient(
    270deg,
    #DB18D6,
    #40ECC5,
    #FFB42B,
    #DB18D6
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientPulse 8s ease infinite;
}

@keyframes gradientPulse {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
