<div
  class="h-full bg-white dark:bg-gray-800 rounded p-4 dark:hover:brightness-115 light:shadow-lg light:hover:shadow-secondary cursor-pointer flex flex-col gap-2">
  @if (this.showStats) {
    <h3 class="text-lg font-semibold mb-1 flex items-center justify-between gap-2">
      <span>{{ station.name }}</span>
      <span class="opacity-70 dark:invert dark:opacity-100 inline-block w-8 h-8">
      @switch (station.status) {
        @case ('ONLINE') {
          <img src="assets/icons/icon-cloud.png" alt="Online">
        }
        @case ('OFFLINE') {
          <img src="assets/icons/icon-cloud-cross.png" alt="Offline">
        }
        @case ('NEW') {
          <img src="assets/icons/icon-new.png" alt="New">
        }
      }
    </span>
    </h3>
  }
  <div class="w-full" [ngClass]="{'h-80 md:h-96 lg:h-[500px] xl:h-[450px]': !showStats}">
    <canvas baseChart
            id="chart"
            [data]="chartData"
            [options]="chartOptions"
            [type]="chartType">
    </canvas>
  </div>
  @if (this.showStats) {
    <span class="flex justify-between items-center font-bold">
    <span>{{ (measurements[0]?.temperature) | number:'1.1-2' }} °C</span>
    <span>{{ measurements[0]?.humidity | number:'1.1-2' }} %</span>
    <span>{{ measurements[0]?.absoluteHumidity | number:'1.1-2' }} <sup>g</sup>/<sub>kg</sub></span>
  </span>
  }
</div>

